@model SlikaViewModel

@{
    ViewBag.Title = "Unos slike";
}

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
            <label asp-for="KameraNaziv" class="col-sm-2 col-form-label"></label>
        <input asp-for="KameraNaziv" class="form-control" data-autocomplete="kamera"
                         data-autocomplete-placeholder-name="KameraNaziv"
                         value="@Model.KameraNaziv" />
                  <input type="hidden" asp-for="KameraId" data-autocomplete-placeholder="KameraNaziv" />
    </div>
    <div class="form-group">
        <label asp-for="Datum">Datum</label>
        <div><span asp-validation-for="Datum" class="text-danger"></span></div>
        <input asp-for="Datum" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Smjer">Smjer</label>
        <div><span asp-validation-for="Smjer" class="text-danger"></span></div>
        <input asp-for="Smjer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Url">URL</label>
        <div><span asp-validation-for="Url" class="text-danger"></span></div>
        <input asp-for="Url" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-controller="Slike" asp-action="Index" asp-route-page="1" asp-route-sort="1" asp-route-ascending="true" class="btn btn-default">Odustani</a>
    </div>
</form>

@section styles{
<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <partial name="IncludeValidation" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}