@{
    ViewData["Title"] = "Izvještaji";
}

Petar Novak:
<ul>
    <li>
        <a target="_blank" asp-action="OdmoristeSadrzaji">Popis svih odmorišta i njihovih sadržaja (PDF)</a>
    </li>
    <li>
        <a target="_blank" asp-action="OdmoristaExcel">Popis svih odmorišta (Excel)</a>
    </li>
    <li>
        <a target="_blank" asp-action="OdmoristaSadrzajiExcel">Popis svih odmorišta i sadržaja u master-detail obliku (Excel)</a>
    </li>
    
</ul>