@model Autoceste

@{
    ViewBag.Title = "Nova autocesta";
}

<h2>Unos nove autoceste</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Oznaka"></label>
        <div><span asp-validation-for="Oznaka" class="text-danger" /></div>
        <input asp-for="Oznaka" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Koncesionar"></label>
        <div><span asp-validation-for="Koncesionar" class="text-danger"/></div>
        <input asp-for="Koncesionar" class="form-control"
            data-autocomplete="koncesionar"
        />
    </div>
    <div class="form-group">
        <label asp-for="Pocetak"></label>
        <div><span asp-validation-for="Pocetak" class="text-danger" /></div>
        <input asp-for="Pocetak" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kraj"></label>
        <div><span asp-validation-for="Kraj" class="text-danger" /></div>
        <input asp-for="Kraj" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section styles{
            <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts {
            <script src="~/htmx/htmx.min.js" asp-append-version="true"></script>
            <partial name="IncludeValidation" />

            <script>
                document.body.addEventListener("showMessage", function (evt) {
                    toastr[evt.detail.messageType](evt.detail.message);
                })
                document.body.addEventListener("htmx:responseError",
                    function (evt) {
                        toastr["error"](evt.detail.error);
                    })
            </script>

            <script src="~/lib/jqueryui/jquery-ui.js"></script>
            <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}