@model OdrzavanjeObjektaViewModel

@{
    ViewBag.Title = "Unos odrzavanja objekta";
}

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="NazivObjekta" class="col-sm-2 col-form-label"></label>
        <input asp-for="NazivObjekta" class="form-control" data-autocomplete="objekt"
               data-autocomplete-placeholder-name="KameraNaziv"
               value="@Model.NazivObjekta" />
        <input type="hidden" asp-for="ObjektId" data-autocomplete-placeholder="KameraNaziv" />
    </div>
    <div class="form-group">
        <label asp-for="datum">Datum</label>
        <div><span asp-validation-for="datum" class="text-danger"></span></div>
        <input asp-for="datum" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Opis">Opis</label>
        <div><span asp-validation-for="Opis" class="text-danger"></span></div>
        <input asp-for="Opis" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Ishod">Ishod</label>
        <div><span asp-validation-for="Ishod" class="text-danger"></span></div>
        <input asp-for="Ishod" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TipNaziv" class="col-sm-2 col-form-label"></label>
        <input asp-for="TipNaziv" class="form-control" data-autocomplete="tip"
               data-autocomplete-placeholder-name="TipNaziv"
               value="@Model.TipNaziv" />
        <input type="hidden" asp-for="TipId" data-autocomplete-placeholder="KameraNaziv" />
    </div>
        <div class="form-group">
            <label asp-for="Odrzavatelj">Održavatelj</label>
            <div><span asp-validation-for="Odrzavatelj" class="text-danger"></span></div>
            <input asp-for="Odrzavatelj" class="form-control" />
        </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-controller="OdrzavanjeObjekta" asp-action="Index" asp-route-page="1" asp-route-sort="1" asp-route-ascending="true" class="btn btn-default">Odustani</a>
    </div>
</form>

@section styles{
<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <partial name="IncludeValidation" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
}