@model Encpostaja

@{
    ViewBag.Title = "Nova ENC postaja";
}



<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>




    <div class="form-group">
        <label asp-for="VrijemeOtvaranja"></label>
        <div><span asp-validation-for="VrijemeOtvaranja" class="text-danger"></span></div>
        <input asp-for="VrijemeOtvaranja" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="VrijemeZatvaranja"></label>
        <div><span asp-validation-for="VrijemeZatvaranja" class="text-danger"></span></div>
        <input asp-for="VrijemeZatvaranja" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="KontaktBroj"></label>
        <div><span asp-validation-for="KontaktBroj" class="text-danger"></span></div>
        <input asp-for="KontaktBroj" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Ime"></label>
        <div><span asp-validation-for="Ime" class="text-danger"></span></div>
        <input asp-for="Ime" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NaplatnaStaza">Broj naplatne staze</label>
        <div><span asp-validation-for="NaplatnaStaza" class="text-danger"></span></div>
        <input asp-for="NaplatnaStaza" class="form-control" />
    </div>

    
    <br />
    <div class="form-group">
        <input type="checkbox"/><span> ENC prodajno mjesto nije vezano uz naplatna postaja</span>
        <br />


        <label asp-for="NaplatnaId">Naplatna postaja</label>
        <div><span asp-validation-for="NaplatnaId" class="text-danger"></span></div>
        <input asp-for="Naplatna" class="form-control disabelable" data-autocomplete="naplatnapostaja"
               data-autocomplete-placeholder-name="naplatnapostaja"
               value="@Model.Naplatna" />
        <input type="hidden" class="disabelable" asp-for="NaplatnaId" data-autocomplete-placeholder="naplatnapostaja" />

    </div>



    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-default">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>

    <script>
        var dropdownToggle = function () {
            $("input:checkbox").change(function () {
                if ($("input:checkbox").is(":checked")) {
                    $(".disabelable").attr("disabled", "disable");
                    $(".disabelable").value = null;
                }
                else {
                    $(".disabelable").removeAttr("disabled");

                }
            });
        }

        $(document).ready(function () {
            dropdownToggle();
        });

    </script>
}