@model ParkGospVoz

@{
    ViewBag.Title = "Novo parkiraliste gospodarskih vozila";
}



<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    

    

    

    <div class="form-group">
        <label asp-for="Stacionaža"></label>
        <div><span asp-validation-for="Stacionaža" class="text-danger"></span></div>
        <input asp-for="Stacionaža" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Naziv"></label>
        <div><span asp-validation-for="Naziv" class="text-danger"></span></div>
        <input asp-for="Naziv" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GeoSirinaUlaz">Geografska širina ulaza</label>
        <div><span asp-validation-for="GeoSirinaUlaz" class="text-danger"></span></div>
        <input asp-for="GeoSirinaUlaz" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="GeoDuzinaUlaz">Geografska dužina ulaza</label>
        <div><span asp-validation-for="GeoDuzinaUlaz" class="text-danger"></span></div>
        <input asp-for="GeoDuzinaUlaz" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="BrojMjesta">Broj parkirnih mjesta</label>
        <div><span asp-validation-for="BrojMjesta" class="text-danger"></span></div>
        <input asp-for="BrojMjesta" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CijenaPoSatu">Cijena po satu u kunama</label>
        <div><span asp-validation-for="CijenaPoSatu" class="text-danger"></span></div>
        <input asp-for="CijenaPoSatu" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="StranaCesteUlaz">Strana ceste s koje se može ući</label>
        <select class="form-control" asp-for="StranaCesteUlaz" asp-items="ViewBag.StranaCeste">
            <option disabled selected value="">Odaberite stranu ceste ulaza</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Dionica"></label>
        <div><span asp-validation-for="DionicaId" class="text-danger"></span></div>
        <input asp-for="Dionica" class="form-control disabelable" data-autocomplete="dionica"
               data-autocomplete-placeholder-name="dionica"
               value="@Model.Dionica" />
        <input type="hidden" class="disabelable" asp-for="DionicaId" data-autocomplete-placeholder="dionica" />
    </div>
    
   
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-default">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>

    
}