<script>

  @if (TempData[Constants.Message] != null)
  {
    bool error = false;
    var obj = TempData[Constants.ErrorOccurred];
    if (obj != null)
    {
      error = (bool)obj;
    }
    if (error)
    {
      <text>toastr.error(`@TempData[Constants.Message]`, 'Pogreška', {timeOut : 0, tapToDismiss : false, closeButton : true})</text>
    }
    else
    {
      <text>toastr.success(`@TempData[Constants.Message]`)</text>
    }
  }
</script>


@*<div id="tempmessage" class="alert"></div>
@if (TempData[Constants.Message] != null)
{
    bool error = false;
    var obj = TempData[Constants.ErrorOccurred];
    if (obj != null)
    {
        error = (bool)obj;
    }
      <div class="alert alert-dismissable @(error ? "alert-danger" : "alert-success") ">@TempData[Constants.Message]</div>
}
*@


<script>
    setTimeout(function() {
    $(".alert-dismissable").hide();
    }, 7000);
</script>
