
@{
    ViewBag.Title = "Izvješća";
}

<ul>
    <li>
        <a target="_blank" asp-action="Autoceste">Popis autocesta i dionica</a>
    </li>
    <li>
        <a target="_blank" asp-action="AutocesteKoncesionariExcel">Excel tablica autocesta i koncesionara (jednostavni)</a>
    </li>
    <li>
        <a target="_blank" asp-action="AutocesteDioniceExcel">Excel tablica autocesta i dionica (master detail)</a>
    </li>
</ul>
