
@{
    ViewBag.Title = "Izvješća";
}

<ul>
    <li>
        <a target="_blank" asp-action="Naplatne">Popis 20 naplatnih postaja te njihovih izlaznih postaja</a>
    </li>
    <li>
        <a target="_blank" asp-action="ParkGospVozExcel">Parkiralista gospodarskih vozila u Excelu</a>
    </li>  
</ul>
