@model NaplatnaPostaja

@{
    ViewBag.Title = "Nova naplatna postaja";
}

<h2>Unos nove naplatne postaje</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Ime"></label>
        <div><span asp-validation-for="Ime" class="text-danger" /></div>
        <input asp-for="Ime" class="form-controll" />
    </div>
    <div class="form-group">
        <label asp-for="GeoDuzina">Geografska dužina</label>
        <div><span asp-validation-for="GeoDuzina" class="text-danger" /></div>
        <input asp-for="GeoDuzina" class="form-controll" />
    </div>
    <div class="form-group">
        <label asp-for="GeoSirina">Geografska širina</label>
        <div><span asp-validation-for="GeoSirina" class="text-danger" /></div>
        <input asp-for="GeoSirina" class="form-controll" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>

@section scripts {
    <partial name="IncludeValidation" />
}