@model IEnumerable<RPPP_WebApp.Models.TipSadrzaja>

@{
    ViewData["Title"] = "Tipovi sadržaja";
}

<h2>Tipovi sadržaja</h2>

<p>
    <a asp-action="Create">Dodaj novi tip sadržaja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
