@{
    ViewData["Title"] = "Izvještaji";
}

Anton Macan: 
<ul>
    <li>
        <a target="_blank" asp-action="Kamera">Popis svih slika po kamerama</a>
    </li>
    <li>
        <a target="_blank" asp-action="KameraExcel">Kamere u Excelu</a>
    </li>
    <li>
        <a target="_blank" asp-action="SlikeExcel">Popis svih slika po kamerama u Excelu</a>
    </li>
</ul>